.absolute-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.max-width {
    max-width: 1100px;
    margin: 0px auto;
}
.filter-wrapper {
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
}
.filter-section {
    position: relative;
    margin: 0px auto;
    max-width: 1100px;
    max-height: initial;
}
.cur-po {
    cursor: pointer;
}
.collection-title {
    font-size: 30px;
    color: var(--heading-text);
    margin-bottom: 32px;
    font-weight: 500;
}
.slick-next::before,
.slick-prev::before {
    color: var(--grey);
}
.slick-next::after,
.slick-prev::after {
    color: rgb(28, 28, 28);
}