.delivery-item-cover {
    height: 150px;
    width: 150px;
    background-color: var(--primary-bg);
    box-shadow: var(--collection-shadow);
    border-radius: 50%;
    cursor: pointer;

}
.delivery-item-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.delivery-item-title{
    font-size: 20px;
    color: rgb(54, 54, 54);
    line-height: 32px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}