.footer-wrapper {
    padding: 0px 1.5rem;
    width: 100%;
    background: rgb(248, 248, 248);
    display: flex;
}
.footer {
    max-width: 110rem;
    width: 110rem;
    padding: 4.8rem 0px 2.2rem;
    position: relative;
}
.footer-heading {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.links-section{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}